
*{
  padding: 0;
  margin: 0;
}



.dashboard-container {
  display: flex;
  padding: 1rem;
  height: 300px;
  width: 300px;
  flex-direction: column;
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  background: url(../img/worfie.jpg), lightgray 50% ;
  background-size: contain;
}

.card-body {
  display: flex;
  padding: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.media {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.add-input {
  border: 3px solid rgba(0, 0, 0, 1);
  width: 500px;
}

.post-btn {
padding: 8px 20px;
margin-left: 10px;
border-radius: 5px;
outline: none;
border: none;
cursor: pointer;
background-color: black;
color: white;
border: 1px solid black ;
}

.add-post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-post-input {
  border: 2px solid black;
}

.post-btn {
  width: 100px;
}

.ql-editor {
  height: 100px;
}

.post-area {
  .user-posts-container {
    border: 1px solid #ccc; /* Add border */
    padding: 20px; /* Add padding */
    margin-bottom: 20px; /* Add margin to separate it from other elements */
  }
}